html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Para prevenir cualquier desplazamiento horizontal no deseado */
}

.app-container {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Si quieres evitar el desbordamiento */
}