.main-container{
    width: 20%;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    display: block;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);

    z-index: 3;
    position: fixed; /* Se fija en su posición */
    left: 0; /* Alineado a la izquierda */
    top: 0; /* Alineado a la parte superior */
}
.sidebar-container{
    width: auto;
    height: auto;
    background-color: #ff0000;
    padding: 10px;
    text-align: center;

    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.doctor-name{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #ffffff;
    text-align: center;
    margin: 2px;
    padding: 20px;

    border-radius: 10px;
    background-color: rgb(114, 32, 32);
}

.details{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    
    padding: 5px;
    color: #ffffff;
    background-color: rgb(199, 15, 15);
    border-radius: 10px;
}

.item{
    margin: 20px;
}

.doctor-shift{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 20px;
    background-color: rgb(230, 224, 224);
    color: rgb(71, 67, 67);
    border: 0cm;


    width: 100%;
    height: auto;

    cursor: pointer;
    box-shadow: inset 0 0 0 0 #535253;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    transition: ease-out 0.5s;
}

.doctor-shift:hover{

    color: #ffffff;

    box-shadow: inset 400px 0 0 0 rgb(68, 64, 64);
}

.update{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 20px;
    background-color: rgb(230, 224, 224);
    color: rgb(71, 67, 67);
    border: 0cm;

    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: auto;

    cursor: pointer;
    box-shadow: inset 0 0 0 0 #535253;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    transition: ease-out 0.5s;
}

.update:hover{

    color: #ffffff;
    box-shadow: inset 400px 0 0 0 rgb(68, 64, 64);
}

.logout-button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 20px;
    background-color: rgb(230, 224, 224);
    color: rgb(71, 67, 67);
    border: 0cm;

    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: auto;
    
    margin-top: calc(100vh - 495px);

    cursor: pointer;
    box-shadow: inset 0 0 0 0 #535253;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    transition: ease-out 0.5s;
}

.logout-button:hover{

    color: #ffffff;
    box-shadow: inset 400px 0 0 0 rgb(68, 64, 64);
}