<div class="main-container">
    <div class="sidebar-container">
        <div class="doctor-name">{{ doctorInfo.firstName  }} {{ doctorInfo.lastName }}</div>
        <div class="details">
          <div class="item">Especialidad: {{ doctorInfo.medicalFieldName }}</div>
          <div class="item">Centro Médico: {{ doctorInfo.medicalCenterName }}</div>
          <div class="item">Horario: {{ doctorInfo.startTime }} - {{ doctorInfo.endTime}}</div>
        </div>
        <br/>
      </div>
      <button class = "doctor-shift" (click)="onReviewShift()">Revisar Turno</button>
      <button class="logout-button" (click)="logout()">Cerrar Sesión</button>
</div>

