<div class="top-bar">
  <p>
    <i class="pi pi-backward" style="font-size: 0.9rem"></i> AGENDAMIENTO DE
    CITAS <i class="pi pi-forward" style="font-size: 0.9rem"></i>
  </p>
</div>

<div class="content-area">
  <form class="form-container" (ngSubmit)="onLogin()">
    <div class="form-title">Iniciar Sesión</div>
    <div class="form-item">
      <label class="form-label" for="documentTypeId">Tipo de Documento</label>
      <select
        class="form-select"
        id="documentTypeId"
        [(ngModel)]="selectedDocumentTypeId"
        name="documentTypeId"
        required
      >
        <option
          class="form-option"
          *ngFor="let type of documentTypes"
          [value]="type.documenTypeId"
        >
          {{ type.documentTypeAbbreviation }}
        </option>
      </select>
    </div>

    <div class="form-item">
      <label class="form-label" for="document"
        >Documento <i class="pi pi-id-card" style="font-size: 0.9rem"></i>
      </label>
      <input
        type="text"
        id="document"
        [(ngModel)]="document"
        name="document"
        required
      />
    </div>

    <div class="form-item">
      <label class="form-label" for="password"
        >Contraseña <i class="pi pi-lock" style="font-size: 0.9rem"></i
      ></label>
      <input
        type="password"
        id="password"
        [(ngModel)]="password"
        name="password"
        required
      />
    </div>

    <button class="form-button" type="submit">Login</button>
  </form>
</div>

<div class="bottom-bar">
  <p>
    <i class="pi pi-spin pi-bolt" style="font-size: 0.6rem"></i> Developed by
    Andrés Felipe Lugo Rodríguez
    <i class="pi pi-spin pi-bolt" style="font-size: 0.6rem"></i>
  </p>
</div>
