.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vh;
    height: auto;


    position: relative;
    margin: auto;
    background-color: rgba(255, 223, 223, 0.842);
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;

    border-radius: 10px;
}

.form-title{
    padding: 10px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: #000000;
    
}
.form-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.form-label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin-bottom: 10px;

    color: rgb(114, 57, 57);
}

.form-select{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 30px;

    font-weight: lighter;
    font-size: 15px;
    color: rgb(105, 2, 2);
    border: 0px;
    border-radius: 20px;

    border-bottom: #f81111 2px solid;
}

.form-option{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 15px;

    color: rgb(141, 141, 141);
}

input[type="text"] {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 30px;

    font-weight: lighter;
    font-size: 15px;
    color: rgb(83, 20, 20);
    border: 0px;
    border-radius: 20px;

    border-bottom: #f81111 2px solid;
}

input[type="password"] {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 30px;

    font-weight: lighter;
    font-size: 15px;
    color: rgb(83, 20, 20);
    border: 0px;
    border-radius: 20px;

    border-bottom: #f81111 2px solid;
} 

.form-button{
    
    display: block;
    justify-content: end;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 16px;

    margin-bottom: 10px;
 
    border-radius: 20px;

    width: 70%;
    height: 40px;

    cursor: pointer;
    box-shadow: inset 0 0 0 0 #535253;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    transition: ease-out 0.3s;

    border: #f81111;
}

.form-button:hover{
    color: #ffffff ;
    box-shadow: inset 600px 0 0 0 rgb(202, 19, 19);
    
}


.top-bar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    color: rgb(255, 228, 228);
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; 
    background-color: #ff2020; 
    border-bottom: #ff8888 10px solid;
    box-sizing: border-box;
    
}

.content-area {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    height: 95vh;
    width: 100vw;
}

.content-area::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/fondo6.png');
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    z-index: -1;
    width: 100%; 

}

.content-area::before {
    filter: saturate(150%) brightness(20%) contrast(110%);
}

.bottom-bar {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    text-align: center;
    color: rgb(255, 228, 228);
    font-weight: bold;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px; 
    background-color: #000000; 
    box-sizing: border-box;
}
