<div class="admin-massive-container">
  <button class="download-button" (click)="onDownloadClick()">
    Descargar Masivo de Agenda Médica
    <br /><br /><i class="pi pi-file-export" style="font-size: 2.5rem"></i>
  </button>
  <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden />
  <label for="fileInput" class="upload-button" style="text-align: center">
    Subir Masivo de Turnos Médicos
    <br /><br /><i class="pi pi-file-import" style="font-size: 2.5rem"></i>
  </label>
</div>
