<p>admin-side-bar works!</p>
<div class="main-container">
    <div class="sidebar-container">
        <div class="admin-name">Administrador</div>
        <div class="details">
          <div class="item">With great</div>
          <div class="item">power...</div>
          <div class="item">comes great responsibility!</div>
        </div>
        <br/>
      </div>
      <button class = "review-agenda" (click)="onReviewAgenda()">Revisar Agenda</button>
      <button class = "massive" (click)="onUploadMassive()">Gestionar Masivos</button>
      <button class = "review-shifts" (click)="onReviewShifts()">Revisar Turnos</button>

      <button class="logout-button" (click)="logout()">Cerrar Sesión</button>
</div>