<div class="main-container">
  <div class="sidebar-container">
    <div class="admin-name">Administrador</div>
    <div class="details">
      <br /><i class="pi pi-spin pi-cog" style="font-size: 5rem"></i
      ><br /><br />
    </div>
    <br />
  </div>
  <button class="review-agenda" (click)="onReviewAgenda()">
    Revisar Agenda
  </button>
  <button class="massive" (click)="onUploadMassive()">Gestionar Masivos</button>
  <button class="review-shifts" (click)="onReviewShifts()">
    Revisar Turnos
  </button>

  <button class="logout-button" (click)="logout()">Cerrar Sesión</button>
</div>
