<!-- home.component.html -->
<div class="home-container">
    <div class = "top-bar">
        <p>Agendamiento de Citas</p>
    </div>
    <app-sidebar (solicitarCita)="changeView('solicitarCita')"
                 (actualizarInfo)="changeView('actualizarInfo')"></app-sidebar>
    <div class ="content-area">

      <ng-container *ngIf="currentView === 'solicitarCita'">
        <app-request-appointment></app-request-appointment>
      </ng-container>
  
      <!-- View for Updating User Information -->
      <ng-container *ngIf="currentView === 'actualizarInfo'">
        <app-update-info></app-update-info>
      </ng-container>
  
      <!-- Default Content -->
      <div class="default" *ngIf="currentView === 'default'">
        Bienvenido al sistema. <!-- Aquí puedes poner contenido predeterminado -->
      </div>
    </div>
  

  </div>
  