<!-- home.component.html -->
<div class="home-container">
    <div class = "top-bar">
        <p>Agendamiento de Citas</p>
    </div>
    <app-sidebar (solicitarCita)="changeView('solicitarCita')"
                 (actualizarInfo)="changeView('actualizarInfo')"></app-sidebar>
    <div class ="content-area">

      <ng-container *ngIf="currentView === 'solicitarCita'">
        <app-request-appointment></app-request-appointment>
        <app-appointment *ngIf="appointmentDetailResponse" [detail]="appointmentDetailResponse"></app-appointment>

      </ng-container>
  
      <ng-container *ngIf="currentView === 'actualizarInfo'">
        <app-update-info></app-update-info>
      </ng-container>
  
      <div class="default" *ngIf="currentView === 'default'">
        Bienvenido al sistema. 
      </div>
    </div>
  

  </div>
  