<!-- doctor.component.html -->
<div class="home-container">
  <div class="top-bar">
      <p>Agenda de Médico</p>
  </div>
  <app-doctor-side-bar (changeView)="changeView($event)"></app-doctor-side-bar>
  <div class="content-area">
    <ng-container *ngIf="currentView === 'default'">
      <div class="default">
        Bienvenido al sistema.
      </div>
    </ng-container>
    <ng-container *ngIf="currentView === 'reviewShift'">
      <app-doctor-shift></app-doctor-shift>
    </ng-container>
  </div>
</div>
