<div class="top-bar">
    <p>Agendamiento de Citas</p>
</div>

<div class="content-area">
    <form class="form-container" (ngSubmit)="onSubmit()">
        <div class="form-title">Iniciar Sesión</div>

        <div class="form-item">
            <label class="form-label" for="doctorId">ID del Doctor</label>
            <input type="number" id="doctorId" [(ngModel)]="doctorId" name="doctorId" required>
        </div>

        <button class="form-button" type="submit">Ingresar</button>

    </form>
</div>
  