<div class="top-bar">
    <p><i class="pi pi-backward" style="font-size: 0.9rem"></i>  APP SALUD XI <i class="pi pi-forward" style="font-size: 0.9rem"></i></p>
</div>
<div class="content-area">
    <div class="button-container">
        
        <button routerLink="/login">Usuario <br><br><i class="pi pi-user" style="font-size: 2.5rem"></i> </button>
        <button routerLink="/doctor-login">Médico <br><br><i class="pi pi-briefcase" style="font-size: 2.5rem"></i> </button>
        <button routerLink="/admin">Admin <br><br><i class="pi pi-lock" style="font-size: 2.5rem"></i></button>
      </div>
</div>
<div class="bottom-bar">
    <p><i class="pi pi-spin pi-bolt" style="font-size: 0.6rem"></i> Developed by Andrés Felipe Lugo Rodríguez <i class="pi pi-spin pi-bolt" style="font-size: 0.6rem"></i></p>
</div>
